node_modules
dist
.DS_Store
*.log
.slidev
.obsidian/

node_modules/
dist/
*.log
quartz/public/
quartz/node_modules/
quartz/.quartz-cache/
.obsidian/workspace*
.obsidian/cache
.DS_Store
quartz/content/vault
quartz/.github/
quartz/static/slides_*/
